{{- $ := index . "$" -}}

{{- $path := "" -}}
{{- with .File -}}
    {{- $path = .Path -}}
{{- else -}}
    {{- $path = .Path -}}
{{- end -}}

{{- $htmlTitle := .title -}}
<!-- Home -->
{{- if eq $.Kind "home" -}}
    {{- $htmlTitle = $htmlTitle | default $.Site.Title -}}
<!-- Taxonomy -->
{{- else if eq $.Kind "taxonomy" -}}
    {{- $htmlTitle = $htmlTitle | default ($.Type | title) -}}
<!-- Section -->
{{- else if eq $.Kind "section" -}}
    {{- $htmlTitle = $htmlTitle | default (delimit (last 1  (split (strings.TrimSuffix "/_index.md" $path) "/")) " ") -}}
{{- end -}}

{{- $htmlTitle = partial "utils/markdownify.html" (dict "$" $ "raw" $htmlTitle "isContent" false) -}}

{{- $rawTitle := $htmlTitle | plainify | htmlUnescape -}}

{{ if eq $rawTitle "life" }}
    {{ $rawTitle = "生活" }}
{{ else if eq $rawTitle "tech" }}
    {{ $rawTitle = "技术" }}
{{ else if eq $rawTitle "Tags" }}
    {{ $rawTitle = "标签" }}
{{ else if eq $rawTitle "Posts" }}
    {{ $rawTitle = "文章" }}
{{ end }}

{{- $title := $rawTitle -}}
{{- if ne $.Kind "home" -}}
    {{- $title = printf "%s | %s" $title $.Site.Title -}}
{{- end -}}

{{- return dict "rawTitle" $rawTitle "title" $title "htmlTitle" $htmlTitle -}}
